@import 'tailwindcss';

@theme {
  --color-background: 0 0% 100%;
  --color-foreground: 222.2 84% 4.9%;
  --color-card: 0 0% 100%;
  --color-card-foreground: 222.2 84% 4.9%;
  --color-popover: 0 0% 100%;
  --color-popover-foreground: 222.2 84% 4.9%;
  --color-primary: 222.2 47.4% 11.2%;
  --color-primary-foreground: 210 40% 98%;
  --color-secondary: 210 40% 96.1%;
  --color-secondary-foreground: 222.2 47.4% 11.2%;
  --color-muted: 210 40% 96.1%;
  --color-muted-foreground: 215.4 16.3% 46.9%;
  --color-accent: 210 40% 96.1%;
  --color-accent-foreground: 222.2 47.4% 11.2%;
  --color-destructive: 0 84.2% 60.2%;
  --color-destructive-foreground: 210 40% 98%;
  --color-border: 214.3 31.8% 91.4%;
  --color-input: 214.3 31.8% 91.4%;
  --color-ring: 222.2 84% 4.9%;
  --color-radius: 0.5rem;
  /* Chart Colors */
  --color-chart-1: 12 76% 61%;
  --color-chart-2: 173 58% 39%;
  --color-chart-3: 197 37% 24%;
  --color-chart-4: 43 74% 66%;
  --color-chart-5: 27 87% 67%;
  /* Regions Colors */
  --color-arica: hsl(323, 56%, 51%);
  --color-tarapaca: hsl(323, 54%, 41%);
  --color-antofagasta: hsl(345, 81%, 55%);
  --color-atacama: hsl(4, 83%, 65%);
  --color-coquimbo: hsl(38, 98%, 62%);
  --color-valparaiso: hsl(80, 54%, 45%);
  --color-metropolitana: hsl(344, 43%, 73%);
  --color-ohiggins: hsl(181, 38%, 44%);
  --color-maule: hsl(25, 93%, 65%);
  --color-nuble: hsl(147, 67%, 39%);
  --color-biobio: hsl(298, 40%, 38%);
  --color-araucania: hsl(16, 90%, 70%);
  --color-losrios: hsl(181, 80%, 34%);
  --color-loslagos: hsl(163, 36%, 71%);
  --color-aysen: hsl(196, 90%, 27%);
  --color-magallanes: hsl(298, 23%, 66%);

  --font-sans: 'Geist', system-ui, -apple-system;
  --font-mono: 'Geist Mono', ui-monospace;

  --animation-accordion-down: accordion-down 0.2s ease-out;
  --animation-accordion-up: accordion-up 0.2s ease-out;
  --animation-text-reveal: text-reveal 1.5 cubic-bezier(0.77, 0, 0.175, 1) 0.5s;
}

@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}

@keyframes text-reveal {
  from: {
    transform: translate(0, 100%);
  }
  to {
    transform: translate(0, 0);
  }
}
